<meta name="viewport" content="width=device-width, initial-scale=1.0">
<mat-menu #appMenu="matMenu">
  <ng-template matMenuContent>
    <a routerLink="/login"><button mat-menu-item><h4 class="menu-item-h4">Login</h4></button></a>
    <a routerLink="/search"><button mat-menu-item><h4 class="menu-item-h4">Search</h4></button></a>
    <a routerLink="/employee"><button mat-menu-item><h4 class="menu-item-h4">Employee Information</h4></button></a>
    <a routerLink="/manage"><button mat-menu-item><h4 class="menu-item-h4">Manage</h4></button></a>
    <a routerLink="/signup"><button mat-menu-item><h4 class="menu-item-h4">New User Registration</h4></button></a>
  </ng-template>
</mat-menu>

<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-card-title>
    <h1>Arkansas Tech University</h1>

    <mat-card-subtitle>Human Resources</mat-card-subtitle>
  </mat-card-title>
  </mat-toolbar-row>
</mat-toolbar>
